<!-- header -->
<div ng-include="'templates/header.html'"></div>

<div class="page_container">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-12">
	                <h2 class="section-heading">Forshare</h2>
	            </div>			
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-body">
				    <div class="panel-producto">

				    	<div class="img-producto col-md-3">
				    		<img src="/img/products/libro-rails.jpg" alt="Libro">

				    		<div class="valor">
				    			<span class="label label-warning">COP$ 10.000</span>	
				    		</div>
				    	</div>

						
				    	<div class="description col-md-4">
				    		<h4>Ruby on rails - desarrollo práctico de aplicaciones web</h4>
				    		<p>
				    			Ruby es un lenguaje de programación orientado a objetos moderno, dinámico y muy potente, pues combina la elegancia del Smalltalk, la facilidad de Python y la practicidad de Perl. Rails es un framework de código abierto para el desarrollo de aplicaciones web.
				    		</p>
				    		

				    		<div class="pedir">
				    			<button class="btn btn-success">Pedir prestado</button>
				    		</div>
				    	</div>
						
				    	<div class="user col-md-5">
				    		<div class="user-avatar">
				    			<img src="/img/users/01.jpg" alt="Elkin Urango">
				    		</div>
				    		<div class="bio">
				    			<p>Elkin Urango</p>
				    			<span>Móvil: 312 333 8831</span>
				    		</div>
				    	</div>
				    </div>
				  </div>
				  <div class="panel-footer">
				  	Publicado: hace 2 horas
				  </div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-body">
				    <div class="panel-producto">

				    	<div class="img-producto col-md-3">
				    		<img src="/img/products/html5.jpg" alt="Libro">

				    		<div class="valor">
				    			<span class="label label-warning">COP$ 20.000</span>	
				    		</div>
				    	</div>
						
				    	<div class="description col-md-4">
				    		<h4>Diseño de páginas web con XHTML, Javascrit y CSS</h4>
				    		<p>
				    			Esta obra está basada en la cuarta edición del libro Diseño de páginas Web interactivas con JavaScript y CSS, sin embargo, lo que debería haber sido la quinta edición se ha convertido en un nuevo libro que introduce el estándar de programación XHTML a través de sus capítulos.
				    		</p>

				    		<div class="pedir">
				    			<button class="btn btn-success">Pedir prestado</button>
				    		</div>
				    	</div>
						
				    	<div class="user col-md-5">
				    		<div class="user-avatar">
				    			<img src="/img/users/03.jpg" alt="Elkin Urango">
				    		</div>
				    		<div class="bio">
				    			<p>Manuel Romero</p>
				    			<span>Móvil: 318 311 5496</span>
				    		</div>
				    	</div>
				    </div>
				  </div>
				  <div class="panel-footer">
				  	Publicado: hace 2 horas
				  </div>
				</div>
			</div>





		</div>
	</div>
</div>


<!-- footer -->
<div class="footer" ng-include="'templates/footer.html'"></div>