<!-- header -->
<div ng-include="'templates/header.html'"></div>

<div class="page_container">
	
	<div class="container login">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-12 text-center">
	                <h2 class="section-heading">Log In</h2>
	                <h4 class="section-subheading text-muted contac">Incio de sesión.</h4>
	            </div>			
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<form ng-submit="login.login()" class="validate" novalidate>

					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label for="">Username</label>
							<input ng-model="login.user.username" type="text" class="form-control" placeholder="Username" name="username">
						</div>
					</div>

					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label for="">Password</label>
							<input ng-model="login.user.password" type="password" class="form-control" placeholder="Password">
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3">
					<div class="clearfix"></div>
						<div class="form-group">
							<div id="success"></div>
	                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_3ab01c04621448c868bd23c40_6aad136474" tabindex="-1" value=""></div>
	                        <button type="submit" class="btn btn-lg">Sig In</button>
	                        <a style="float: right; margin-top: 10px; font-size: 1.2em;" ui-sref="signup">Crear cuenta</a>
						</div>
					</div>

					
				</form>
			</div>
		</div>
	</div>
</div>


<!-- footer -->
<div class="footer" ng-include="'templates/footer.html'"></div>